<div class="full-screen relative">
    <div class="modal-backdrop show"></div>
    <div class="modal show animated rotateIn" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog full-height" style="margin-top: 0px;" role="document">
            <div class="modal-content middle relative">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression d'un utilisateur</h5>
                    <button type="button" (click)="cancel()" data-action="close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>L'utilisateur sélectionné est toujours actif.</p>
                    <p>Etes vous sûr de vouloir le supprimer ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="confirm()" data-action="confirm" class="btn btn-primary">Oui</button>
                    <button type="button" (click)="cancel()" data-action="close" class="btn btn-secondary" data-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>
</div>